<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/EstiloApartados.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Administradores</title>
</head>

<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="actualizar_administradores.html">
                <img src="../../resources/Imagenes/logo.png" alt="" width="80 px" height="80 px" class="d-inline-block ">
            </a>
            <div class="txtAdmin">
                <h6>Admin</h6>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col" id="txtCategoria">
                <h3>Administradores</h3>
            </div>
            <div class="col">
                <div class="container-sm">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

   
        <table class="table table-hover">
            <!-- Encabezado de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="Filas"></td>
                </tr>
                <tr>
                    <th>ID</th> 
                    <th>Nombre completo</th>
                    <th>Correo</th>
                    <th>Alias</th>
                    <th>Clave</th>
                    <th>Fecha de registro</th>
                </tr>
                
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>

            
        </table>

        
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/administrador.js"></script>
</body>

</html>