<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>¡BIENVENIDO¡</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/estiloBienvenido.css">
</head>

<body>

    <!--se pone la imagen de el logo de oinos de la vida-->

    <div class="container">
        <img class="img" src="../../resources/Imagenes/logo.png" width="350px" alt="">
    </div>

    <br>

    <!--Boton para iniciar sesion-->

    <div class="col">
        <button type="button" class="btn btn-primary btn-lg" id="btnIni">Iniciar sesion</button>
    </div>
    <br>
    <div class="col">
        <img src="../../resources/Imagenes/imagenvinoB.png" class="img-fluid" alt="" width="900px" height="600px">
    </div>
    <footer>

    </footer>
    
    <script src="../../controllers/utils/footer.js"></script>

    
    <script src="../../controllers/utils/alerts2.js"></script>
</body>

</html>