<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/EstiloApartados.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/estiloMenu.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/estiloclientes.css">
    <title>Clientes</title>
</head>

<body>
    <!-- Nav Bar que aparece en la parte de arriba de cada pantalla, enviado desde el archivo Apartados.js-->
    <nav>

    </nav>

    <!-- Barra roja con el apartado -->
    <div class="container mt-4">
        <div class="row">
            <div class="col mt-5" id="txtCategoria">
                <div class="div-text mt-3">
                    <h3>Clientes</h3>
                </div>

            </div>
            <!-- Barra de busqueda-->
            <div class="col mt-5">
                <div class="container-sm mt-2">
                    <form class="d-flex" id="searchForm">

                        <div class="position-relative">
                            <img class="search-icon" src="../../resources/Imagenes/lupa.png" alt="Lupa">
                            <input class="form-control me-2" type="search" aria-label="Search"
                                id="Search" name="search" placeholder="Busque por DUI, correo o estado">
                        </div>


                        <button type="button" class="btn" onclick="openCreate()">
                            <img src="../../resources/Imagenes/btnAgregarIMG.png" alt="" width="62px" height="60px"
                                class="mb-1" hidden>
                        </button>


                    </form>
                </div>
            </div>

        </div>

    </div>
    <!-- campos de la tabla -->

    <div class="col-lg-10 col-sm-10 col-md-12 col-12 mx-auto">
        <table class="table text-center">
            <thead>
                <tr>
                    <td colspan="9" id="rowsFound"></td>
                </tr>
                <tr>
                    <th class="bg-danger text-white fw-bold">ID</th>
                    <th class="bg-danger text-white fw-bold">DUI</th>
                    <th class="bg-danger text-white fw-bold">Correo</th>
                    <th class="bg-danger text-white fw-bold">Teléfono</th>
                    <th class="bg-danger text-white fw-bold">Dirección</th>
                    <th class="bg-danger text-white fw-bold">Fecha de registro</th>
                    <th class="bg-danger text-white fw-bold">Estado</th>
                    <th class="bg-danger text-white fw-bold">Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody">


            </tbody>
        </table>
    </div>

    <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idCliente" name="idCliente">


                            <div class="col-sm-12 col-md-6">
                                <label for="nombreCategoria" class="col-sm-7 col-form-label">DUI:</label>
                                <input id="DUICliente" type="text" name="DUICliente" class="form-control"
                                    placeholder="micorreo@gmail.com">
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <label for="nombreCategoria" class="col-sm-7 col-form-label">Correo:</label>
                                <input id="correoCliente" type="email" name="correoCliente" class="form-control"
                                    placeholder="Ingrese el alias del cliente">
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <label for="nombreCategoria" class="col-sm-7 col-form-label">Teléfono:</label>
                                <input id="telefonoCliente" type="text" name="telefonoCliente" class="form-control"
                                    placeholder="Ingrese el alias del cliente">
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <label for="nombreCategoria" class="col-sm-7 col-form-label">Dirección:</label>
                                <input id="direccionCliente" type="text" name="direccionCliente" class="form-control"
                                    placeholder="Ingrese el alias del cliente">
                            </div>

                            <div class="col-sm-12 col-md-6 mb-5">
                                <label for="Marca" class="col-sm-7 col-form-label">Estado:</label>
                                <select class="form-select" id="selectEstado" name="selectEstado"
                                    aria-label="Default select example" required>
                                    <option>Activo</option>
                                    <option>Inactivo</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark" id="btnGuardar">Guardar</button>
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>

    </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../../controllers/utils/footer.js"></script>
    <script src="../../controllers/utils/Apartados.js"></script>
    <!-- Llamada a las librerías que utiliza javascript para el funcionamiento de la página web -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../controllers/utils/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>

    <script type="text/javascript" src="../../controllers/admin/clientes.js"></script>

</body>

</html>