<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/EstiloApartados.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/estiloMenu.css">
    <title>Clientes</title>
</head>

<body>
    <!-- Nav Bar que aparece en la parte de arriba de cada pantalla, enviado desde el archivo Apartados.js-->
    <nav>

    </nav>

    <!-- Barra roja con el apartado -->
    <div class="container mt-4">
        <div class="row">
            <div class="col mt-5" id="txtCategoria">
                <div class="div-text mt-3">
                    <h3>Clientes</h3>
                </div>

            </div>
            <!-- Barra de busqueda-->
            <div class="col mt-5">
                <div class="container-sm mt-2">
                    <form class="d-flex">
                        <div class="position-relative">
                            <img class="search-icon" src="../../resources/Imagenes/lupa.png" alt="Lupa">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                id="Search">
                        </div>

                    </form>
                </div>
            </div>
            <!--Botón para ver la pantalla de pedidos-->
            <div class="col mt-5">
                <button type="submit" class="btn btn-success mt-1 mostrarPedidos" id="mostrarPedidos">
                    <i class="bi bi-search"></i>
                    <img src="../../resources/Imagenes/pedidos.png" alt="" width="60px" height="60px" class="mb-1">
                </button>
            </div>
        </div>

    </div>


    <div class="card col-lg-10 col-md-11 col-sm-12 col-12 mx-auto mb-2 mt-4">
        <div class="card-body">

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>ID:</strong>
                </div>
                <div class="col-md-9">
                    <span>1</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Nombre:</strong>
                </div>
                <div class="col-md-9">
                    <span>Iván Salguero</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>DUI:</strong>
                </div>
                <div class="col-md-9">
                    <span>01010109-8</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Correo:</strong>
                </div>
                <div class="col-md-9">
                    <span>salguerod@gmail.com</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Teléfono:</strong>
                </div>
                <div class="col-md-9">
                    <span>0101-0999</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Dirección:</strong>
                </div>
                <div class="col-md-9">
                    <span>Condominios Machado</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-4 col-md-3">
                    <strong>Fecha de registro:</strong>
                </div>
                <div class="col-lg-4 col-md-9">
                    <span>00/00/0000</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Estado:</strong>
                </div>
                <div class="col-md-9">
                    <div class="form-check form-switch">
                        <input class="form-check-input estado" type="checkbox" role="switch" id="estado" name="estado">
                        <label for="tipoEstado" id="Estado">Inactivo</label>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <strong>Acciones:</strong>
                </div>
                <div class="col-lg-4 col-md-9">

                </div>
            </div>
        </div>
    </div>

    <div class="card col-lg-10 col-md-11 col-sm-12 col-12 mx-auto">
        <div class="card-body">

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>ID:</strong>
                </div>
                <div class="col-md-9">
                    <span>1</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Nombre:</strong>
                </div>
                <div class="col-md-9">
                    <span>Iván Salguero</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>DUI:</strong>
                </div>
                <div class="col-md-9">
                    <span>01010109-8</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Correo:</strong>
                </div>
                <div class="col-md-9">
                    <span>salguerod@gmail.com</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Teléfono:</strong>
                </div>
                <div class="col-md-9">
                    <span>0101-0999</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Dirección:</strong>
                </div>
                <div class="col-md-9">
                    <span>Condominios Machado</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-4 col-md-3">
                    <strong>Fecha de registro:</strong>
                </div>
                <div class="col-lg-4 col-md-9">
                    <span>00/00/0000</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Estado:</strong>
                </div>
                <div class="col-md-9">
                    <div class="form-check form-switch">
                        <input class="form-check-input estado" type="checkbox" role="switch" id="estado" name="estado">
                        <label for="tipoEstado" id="Estado">Inactivo</label>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <strong>Acciones:</strong>
                </div>
                <div class="col-lg-4 col-md-9">

                </div>
            </div>
        </div>
    </div>
    
    <div class="card col-lg-10 col-md-11 col-sm-12 col-12 mx-auto mt-2">
        <div class="card-body">

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>ID:</strong>
                </div>
                <div class="col-md-9">
                    <span>1</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Nombre:</strong>
                </div>
                <div class="col-md-9">
                    <span>Iván Salguero</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>DUI:</strong>
                </div>
                <div class="col-md-9">
                    <span>01010109-8</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Correo:</strong>
                </div>
                <div class="col-md-9">
                    <span>salguerod@gmail.com</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Teléfono:</strong>
                </div>
                <div class="col-md-9">
                    <span>0101-0999</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Dirección:</strong>
                </div>
                <div class="col-md-9">
                    <span>Condominios Machado</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-4 col-md-3">
                    <strong>Fecha de registro:</strong>
                </div>
                <div class="col-lg-4 col-md-9">
                    <span>00/00/0000</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <strong>Estado:</strong>
                </div>
                <div class="col-md-9">
                    <div class="form-check form-switch">
                        <input class="form-check-input estado" type="checkbox" role="switch" id="estado" name="estado">
                        <label for="tipoEstado" id="Estado">Inactivo</label>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <strong>Acciones:</strong>
                </div>
                <div class="col-lg-4 col-md-9">

                </div>
            </div>
        </div>
    </div>


    <!--Primera Modal para mostrar la eliminación de un registro-->
    <div class="modal" id="miModalDe" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Contenido de la ventana modal -->
                <form id="saveForm">
                    <div class="modal-body text-center">
                        <!-- Agregamos la clase text-center para centrar el contenido -->

                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/pregunta.png" alt="">
                            <br>
                            <h4 class="text-align-center">¿Desea realmente eliminar este dato?</h4>
                            <br>
                            <h6 class="text-align-center">Se eliminará el dato para siempre.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="button" class="btn btn-dark" id="btnElimin">Eliminar</button>
                            <button type="submit" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!--Segunda Modal para mostrar la eliminación de un registro-->
    <div class="modal" id="miModalDe2" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form id="saveForm">
                    <!-- Contenido de la ventana modal -->
                    <div class="modal-body text-center">
                        <!-- Agregamos la clase text-center para centrar el contenido -->

                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/exito.png" alt="">
                            <br>
                            <h4 class="text-align-center">¡Registro eliminado con éxito!</h4>
                            <br>
                            <h6 class="text-align-center">Se ha eliminado un registro.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="submit" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <footer>

    </footer>

    <!-- Llamada a las librerías que utiliza javascript para el funcionamiento de la página web -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Llamada a los controlador y utils de la página web -->
    <script type="text/javascript" src="../../controllers/utils/Apartados.js"></script>
    <script type="text/javascript" src="../../controllers/utils/footer.js"></script>
    <script type="text/javascript" src="../../controllers/admin/clientes.js"></script>
    <script src="../../controllers/utils/botones.js"></script>
    <script src="../../controllers/admin/menu.js"></script>

</body>

</html>