<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../resources/css/estiloIndex.css">

</head>

<body>
    <div>
        <!--esta en la barra del fondo color rojo  -->
        <div class="red-bar" id="barra"></div>
        <div class="d-flex justify-content-center p-3">

            <!--logo -->
            <img src="../../resources/Imagenes/logoe.png" alt="login-icon" style="height: 7rem">
        </div>


        <!--linea -->

        <div class="p-3">
            <div class="border-bottom text-left border-secondary" id="linea1">

            </div>
        </div>

        <!--Aca ya a el conteiner donde ira para ingresar creddenciales  -->
        <div class="container col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-3">

            <div class="fs-2 fw-bold
            text-secondary" id="textoB">
                ¡BIENVENIDO!
            </div>

        </div>


        <form id="ValidacionInicio">
            <!--para que la pagina no pida iniciar sesion cada ves que se salga de ella -->
            <div class="text-center mt-2">
                <div class="form-check d-flex justify-content-center">
                    <input type="checkbox" class="form-check-input" id="condicion" name="condicion">
                    <label class="form-check-label px-2" for="condicion">Recuérdame</label>
                </div>
            </div>

            <!--de olvido la contraseña -->
            <div class="pt-3 text-center">
                <a href="recuperarcontraseña_correo.html" class="text-decoration-none fw-semibold fst-italic">
                    Olvidé mi contraseña
                </a>
            </div>


            <!--registrarse -->
            <div class="d-flex gap-1 justify-content-center mt-3">
                <div>
                    ¿No tienes una cuenta?
                </div>
                <br>
                <button type="button" class="btn btn-white p-0" data-bs-toggle="modal"
                    data-bs-target="#modalRegistrasrte">
                    Inicia sesión
                </button>
            </div>
            <div class="p-2">
                <div class="border-bottom text-center border-secondary OO">
                    <span class="px-3">
                        o
                    </span>
                </div>
            </div>
        </form>

        <!--Primer campo -->
        <div class="container">
            <form class="row" id="sessionForm">
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-4">
                    <label for="textoAlias" class="form-label">Alias del usuario:</label>
                </div>
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="input-group mt-2 ">

                        <div class="input-group-text">
                            <img src="../../resources/Imagenes/texto.png" alt="user-icon" style="height: 2rem">
                        </div>
                        <input class="form-control bg-light" type="text" placeholder="Alias" id="textoAlias"
                            name="alias" required />
                    </div>
                </div>

                <!--segundo campo -->
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-4">
                    <label for="textoContra" class="form-label">Clave:</label>
                </div>
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="input-group mt-1">

                        <div class="input-group-text">
                            <img src="../../resources/Imagenes/pass.png" alt="user-icon" style="height: 2rem">
                        </div>
                        <input class="form-control bg-light" type="password" placeholder="Contraseña" id="textoContra"
                            name="clave" required />
                    </div>
                </div>
                <!--boton  -->
                <div class="text-center">
                    <button type="submit" class="submit text-white px-5  mt-4 fw-semibold shadow-sm btnIngresar">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
        <!--para iniiciar sesion con una de tus cuentas-->

        <div class="text-center">
            <button class="btn text-danger px-2 mt-2 fw-semibold shadow-sm" id="btnGoogle">
                <img src="../../resources/Imagenes/google.png" id="imgGoogle">
                Continúa con Google
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalRegistrasrte" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="staticBackdropLabel">Registre sus datos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Labels identificadores e inputs para ingresar la información de los administradores, 
        separados por espacios -->
                        <form id="FormValidacion">
                            <div class="container text-center" id="contenedorPrincipal">
                                <div class="row">
                                    <div class="col col-lg-4 col-md-6">
                                        <div class="mb-2">
                                            <!--Label e input para agregar el nombre del administrador-->
                                            <label class="form-label">Nombre del administrador:</label>

                                            <input type="text" class="form-control mb-5" id="Nombre" name="Nombre"
                                                required placeholder="Ingrese el nombre del administrador">
                                            <small>Ingresa tu nombre</small>
                                        </div>


                                        <div class="mb-2">
                                            <!--Label e input para agregar el apellido del administrador-->
                                            <label class="form-label">Apellido del administrador:</label>

                                            <input type="text" class="form-control mb-5" id="Apellido" required
                                                placeholder="Ingrese el apellido del administrador">
                                            <small>Ingresa tu apellido</small>
                                        </div>

                                        <div class="mb-3">
                                            <!--Label e input para agregar el correo del administrador-->
                                            <label class="form-label">Correo del administrador:</label>

                                            <input type="email" class="form-control mb-5" id="Correo" required
                                                placeholder="Ingrese el correo del administrador">
                                            <small>Ingresa tu correo</small>

                                        </div>
                                    </div>


                                    <div class="col col-lg-4 col-md-6">
                                        <div class="mb-3">
                                            <!--Label e input para agregar el alias del administrador-->
                                            <label class="form-label1 mb-2">Alias del administrador:</label>

                                            <input type="text" class="form-control mb-5" id="alias" required
                                                placeholder="Ingrese el alias del administrador" name="alias">
                                            <small>Ingresa un alias</small>
                                        </div>

                                        <div class="mb-3">
                                            <!--Label e input para agregar la clave del administrador-->
                                            <label class="form-label1 mb-2">Clave del administrador:</label>

                                            <input type="password" class="form-control mb-5" id="clave" required
                                                placeholder="Ingrese la clave del administrador" name="clave">
                                            <small>Ingresa tu clave</small>
                                        </div>


                                        <div class="mb-3">
                                            <!--Label e input para confirmar la clave del administrador-->
                                            <label class="form-label2 mb-2">Confirmar clave:</label>

                                            <input type="password" class="form-control mb-5" id="Confirmar" required>
                                            <small>Por favor confirma tu contraseña</small>
                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                                        <div class="dropdown">
                                            <label class="form-label1 nivel mb-3">Nivel de usuario:</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Seleccione el nivel de usuario</option>
                                                <option value="1">Administrador</option>
                                                <option value="2">Trabajador</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--Fin de los labels e inputs-->
                                </div>


                                <!--Botón para registrar la información-->
                                <div class="col">
                                    <button type="submit" class="btn btn-dark" id="btnRegistrar">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="../../controllers/utils/sweetalert.min.js"></script>
        <script src="../../controllers/utils/components.js"></script>
        <!-- Llamada al fcontrolador del index-->
        <script type="text/javascript" src="../../controllers/admin/index.js"></script>
</body>

</html>