<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../../resources/css/estiloMenu.css">
        <link rel="stylesheet" href="../../resources/css/EstiloApartados.css">
        <link rel="stylesheet" href="../../resources/css/estiloMarcas.css">
        <title>Marcas</title>
    
</head>

<body>


    <!--aca esta la navbar -->
    <nav>

    </nav>




    <!--boton de busqueda, boton de agregar y texto de marcas -->
    <div class="container mt-4">
        <div class="row">
            <div class="col mt-5" id="txtMarcas">
                <h3>Marcas</h3>
            </div>
            <div class="col">
                <div class="container-sm mt-5">
                    <form class="d-flex">

                        <div class="position-relative mt-1">
                            <img class="search-icon" src="../../resources/Imagenes/lupa.png" alt="Lupa">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                id="Search">
                        </div>

                    </form>
                </div>
            </div>

            <!--boton para los registros-->
            <div class="col mt-5">
                <button class="btn fw-semibold" id="btnModalMarca" name="btnModalMarca">
                    <i class="bi bi-x-square-fill"></i>
                    <img src="../../resources/Imagenes/btnAgregarIMG.png" alt="" width="60px" height="60px"
                        class="mb-1">
                </button>
            </div>

        </div>
    </div>

    <br>

    <!--cards con su contenido dentro  tanto imagens y sus respectivos botones-->

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../resources/Imagenes/vino1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jacob´s Creek</h5>

                </div>
                <div class="col-8">
                    <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                        <i class="bi bi-search"></i>
                        <img src="../../resources/Imagenes/btnEliminarIMG.png" alt="" width="30px" height="30px"
                            class="mb-1">

                    </button>
                    <button type="reset" class="btn btn-secondary mt-1" id="botonActu">
                        <i class="bi bi-x-square-fill"></i>
                        <img src="../../resources/Imagenes/btnActualizarIMG.png" alt="" width="30px" height="30px"
                            class="mb-1">
                    </button>
                    <button type="submit" class="btn btn-secondary mt-1" id="btnMostrar">
                        <i class="bi bi-x-square-fill"></i>
                        <img src="../../resources/Imagenes/verProductos.png" alt="" width="40px" height="40px"
                            class="mb-1">
                    </button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-90">
                <img src="../../resources/Imagenes/vino1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jacob´s Creek</h5>

                </div>
                <div class="col-8">
                    <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                        <i class="bi bi-search"></i>
                        <img src="../../resources/Imagenes/btnEliminarIMG.png" alt="" width="30px" height="30px"
                            class="mb-1">

                    </button>
                    <button type="reset" class="btn btn-secondary mt-1" id="botonActu">
                        <i class="bi bi-x-square-fill"></i>
                        <img src="../../resources/Imagenes/btnActualizarIMG.png" alt="" width="30px" height="30px"
                            class="mb-1">
                    </button>
                    <button type="submit" class="btn btn-secondary mt-1" id="btnMostrar">
                        <i class="bi bi-x-square-fill"></i>
                        <img src="../../resources/Imagenes/verProductos.png" alt="" width="40px" height="40px"
                            class="mb-1">
                    </button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../resources/Imagenes/vino2.png" class="card-img mt-5" alt="..." height="200px"
                    width="50px">
                <div class="card-body">
                    <h5 class="card-title">CataVino</h5>


                </div>
                <div class="col-8">
                    <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                        <i class="bi bi-search"></i>
                        <img src="../../resources/Imagenes/btnEliminarIMG.png" alt="" width="30px" height="30px"
                            class="mb-1">

                    </button>
                    <button type="reset" class="btn btn-secondary mt-1" id="botonActu">
                        <i class="bi bi-x-square-fill"></i>
                        <img src="../../resources/Imagenes/btnActualizarIMG.png" alt="" width="30px" height="30px"
                            class="mb-1">
                    </button>
                    <button type="submit" class="btn btn-secondary mt-1" id="btnMostrar">
                        <i class="bi bi-x-square-fill"></i>
                        <img src="../../resources/Imagenes/verProductos.png" alt="" width="40px" height="40px"
                            class="mb-1">
                    </button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../resources/Imagenes/vino2.png" class="card-img mt-5" alt="..." height="200px"
                    width="50px">
                <div class="card-body">
                    <h5 class="card-title">CataVino</h5>

                </div>
                <div class="col-8">
                    <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                        <i class="bi bi-search"></i>
                        <img src="../../resources/Imagenes/btnEliminarIMG.png" alt="" width="30px" height="30px"
                            class="mb-1">

                    </button>
                    <button type="reset" class="btn btn-secondary mt-1" id="botonActu">
                        <i class="bi bi-x-square-fill"></i>
                        <img src="../../resources/Imagenes/btnActualizarIMG.png" alt="" width="30px" height="30px"
                            class="mb-1">
                    </button>
                    <button type="submit" class="btn btn-secondary mt-1" id="btnMostrar">
                        <i class="bi bi-x-square-fill"></i>
                        <img src="../../resources/Imagenes/verProductos.png" alt="" width="40px" height="40px"
                            class="mb-1">
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!--Aquí comienzan las modals-->

    <!-- Ventana modal para agregar-->
    <div class="modal" id="miModalM" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Encabezado de la ventana modal -->
                <div class="modal-header">
                    <h5 class="modal-title text-align-center">Registrar nueva marca</h5>
                </div>
                <!-- Contenido de la ventana modal -->
                <div class="modal-body">
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idMarca" name="idMarca">
                            <div class="col-sm-12 col-md-5 mt-1">
                                <label for="descripcionCategoria" class="form-label">Nombre de la marca:</label>
                                <input id="nombreMarca" type="text" name="descripcionProducto" class="form-control"
                                    placeholder="Ingrese el nombre de la marca" required>
                            </div>

                            <div class="col-sm-12 col-md-7 mt-1">
                                <label for="descripcionCategoria" class="col-sm-7">Imagen del
                                    producto:</label>
                                <div class="position-relative">
                                    <div class="input-group mb-3 mt-1">
                                        <input type="file" class="form-control" id="inputImgMarca">
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark" id="btnGuardar">Guardar</button>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                                    id="btnCerrar">Cerrar</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal para actualizar datos -->
    <div class="modal" id="miModalM2" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Encabezado de la ventana modal -->
                <div class="modal-header">
                    <h5 class="modal-title text-align-center">Actualizar marca</h5>
                </div>
                <!-- Contenido de la ventana modal -->
                <div class="modal-body">
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idCategoria" name="idCategoria">
                            <div class="col-sm-12 col-md-6" id="columnas">
                                <label for="nombreCategoria" class="form-label">Nombre de la marca:</label>
                                <input id="nombreCategoria" type="text" name="nombreCategoria" class="form-control"
                                    placeholder="Ingrese el nombre del producto" required>
                            </div>

                            <div class="col-sm-12 col-md-6" id="columnas">
                                <label for="descripcionCategoria" class="form-label">Imagen del producto:</label>
                                <div class="position-relative">
                                    <img src="../../resources/Imagenes/iconoImagen.png" alt="imagen icono"
                                        style="position: absolute; top: 50%; transform: translateY(-50%); left: 5px;"
                                        width="20px" height="20px">
                                    <input id="descripcionCategoria" type="text" name="descripcionCategoria"
                                        class="form-control" style="padding-left: 30px;"
                                        placeholder="Formatos permitidos: .png, .jpg" required>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark" id="btnActualizarR">Actualizar</button>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                                    id="btnCerrar">Cerrar</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <!--Modal para mostrar la inserción de un registro-->
    <div class="modal" id="miModalR" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Contenido de la ventana modal -->
                <div class="modal-body text-center"> <!-- Agregamos la clase text-center para centrar el contenido -->
                    <form id="saveForm">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/exito.png" alt="">
                            <br>
                            <h4 class="text-align-center">¡Registro realizado con éxito!</h4>
                            <br>
                            <h6 class="text-align-center">Se ha realizado un nuevo registro.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="button" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Primera Modal para mostrar la eliminación de un registro-->
    <div class="modal" id="miModalDe" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Contenido de la ventana modal -->
                <div class="modal-body text-center"> <!-- Agregamos la clase text-center para centrar el contenido -->
                    <form id="saveForm">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/pregunta.png" alt="">
                            <br>
                            <h4 class="text-align-center">¿Desea realmente eliminar este dato?</h4>
                            <br>
                            <h6 class="text-align-center">Se eliminará el dato para siempre.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="button" class="btn btn-dark btn-block" id="btnElim">Eliminar</button>
                            <!-- Agregamos clase btn-block para ajustar el ancho -->
                            <button type="button" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Segunda Modal para mostrar la eliminación de un registro-->
    <div class="modal" id="miModalDe2" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Contenido de la ventana modal -->
                <div class="modal-body text-center"> <!-- Agregamos la clase text-center para centrar el contenido -->
                    <form id="saveForm">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/exito.png" alt="">
                            <br>
                            <h4 class="text-align-center">¡Registro eliminado con éxito!</h4>
                            <br>
                            <h6 class="text-align-center">Se ha eliminado un registro.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="button" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Primera Modal para mostrar la actualización de un registro-->
    <div class="modal" id="miModalAC" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Contenido de la ventana modal -->
                <div class="modal-body text-center"> <!-- Agregamos la clase text-center para centrar el contenido -->
                    <form id="saveForm">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/exito.png" alt="">
                            <br>
                            <h4 class="text-align-center">¡Registro actualizado con éxito!</h4>
                            <br>
                            <h6 class="text-align-center">Se ha actualizado un registro.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="button" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer>

    </footer>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../../controllers/utils/footer.js"></script>
    <script src="../../controllers/utils/Apartados.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../controllers/admin/marcas.js"></script>
    <script src="../../controllers/admin/menu.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>


</html>