<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../resources/css/EstiloApartados.css">
        <link rel="stylesheet" href="../../resources/css/estiloMarcas.css">
        <link rel="stylesheet" href="../../resources/css/estiloOrdenes_Valoraciones.css">
        <link rel="stylesheet" type="text/css" href="../../resources/css/estiloMenu.css">
    <title>Valoraciones</title>
</head>

<body>

    <nav>

    </nav>

    <div class="container mt-5">
        <div class="row ">
            <div class="col mt-5" id="txtValora">

                <div class="text mb-4">
                    <h3>Valoraciones</h3>
                </div>
            </div>
            <div class="col mt-5">
                <div class="container-sm mt-3">
                    <form class="d-flex">

                        <div class="position-relative">
                            <img class="search-icon" src="../../resources/Imagenes/lupa.png" alt="Lupa">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                id="Search">
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-70">
                <div class="card-body">
                    <div class="textoT  mb-3">
                        <h5 class="card-title">Órden numero: 1</h5>
                    </div>

                    <p class="classs fw-bold">
                        Calificación del producto: 4
                    </p>
                    <p class="classs fw-bold">
                        Comentario del producto: Producto muy bueno, recomendado
                    </p>
                    <p class="classs fw-bold">
                        Fecha de registro: 25/03/2023
                    </p>
                    <p class="classs fw-bold">
                        Estado del comentario: Habilitado
                    </p>
                    <div class="col-12">
                        <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                            <i class="bi bi-search"></i>
                            <img src="../../resources/Imagenes/btnEliminarIMG.png" alt="" width="30px" height="30px"
                                class="mb-1" data-bs-toggle="modal"
                                data-bs-target="#miModalDe" >
                        </button>
                        <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                            <i class="bi bi-search"></i>
                            <img src="../../resources/Imagenes/btnActualizarIMG.png" alt="" width="30px" height="30px"
                                class="mb-1"
                                data-bs-toggle="modal"
                                data-bs-target="#miModalAC" >
                        </button>

                    </div>
                </div>

            </div>
            <br>
        </div>
        <div class="col">
            <div class="card h-70">
                <div class="card-body">
                    <div class="textoT mb-3">
                        <h5 class="card-title">Órden numero: 2</h5>
                    </div>

                    <p class="classs fw-bold">
                        Calificación del producto: 1
                    </p>
                    <p class="classs fw-bold">
                        Comentario del producto: Producto malísimo, no llevar por favor, por su bien
                    </p>
                    <p class="classs fw-bold">
                        Fecha de registro: 25/04/2023
                    </p>
                    <p class="classs fw-bold">
                        Estado del comentario: Deshabilitado
                    </p>
                    <div class="col-12">
                        <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                            <i class="bi bi-search"></i>
                            <img src="../../resources/Imagenes/btnEliminarIMG.png" alt="" width="30px" height="30px"
                                class="mb-1" data-bs-toggle="modal"
                                data-bs-target="#miModalDe" >
                        </button>
                        <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                            <i class="bi bi-search"></i>
                            <img src="../../resources/Imagenes/btnActualizarIMG.png" alt="" width="30px" height="30px"
                                class="mb-1" data-bs-toggle="modal"
                                data-bs-target="#miModalAC">
                        </button>

                    </div>
                </div>

            </div>
            <br>
        </div>
        <div class="col">
            <div class="card h-70">
                <div class="card-body">
                    <div class="textoT mb-3">
                        <h5 class="card-title">Órden numero: 3</h5>
                    </div>

                    <p class="classs fw-bold">
                        Calificación del producto: 4
                    </p>
                    <p class="classs fw-bold">
                        Comentario del producto: Producto bueno, recomendado
                    </p>
                    <p class="classs fw-bold">
                        Fecha de registro: 25/03/2023
                    </p>
                    <p class="classs fw-bold">
                        Estado del comentario: Habilitado
                    </p>
                    <div class="col-12">
                        <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                            <i class="bi bi-search"></i>
                            <img src="../../resources/Imagenes/btnEliminarIMG.png" alt="" width="30px" height="30px"
                                class="mb-1" data-bs-toggle="modal"
                                data-bs-target="#miModalDe" >
                        </button>
                        <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                            <i class="bi bi-search"></i>
                            <img src="../../resources/Imagenes/btnActualizarIMG.png" alt="" width="30px" height="30px"
                                class="mb-1" data-bs-toggle="modal"
                                data-bs-target="#miModalAC">
                        </button>

                    </div>
                </div>

            </div>
            <br>
        </div>
        <div class="col">
            <div class="card h-70">
                <div class="card-body">
                    <div class="textoT mb-3">
                        <h5 class="card-title">Órden numero: 4</h5>
                    </div>

                    <p class="classs fw-bold">
                        Calificación del producto: 1
                    </p>
                    <p class="classs fw-bold">
                        Comentario del producto: Solo de verlo no lo quiero, jamas lo volvere a llevar
                    </p>
                    <p class="classs fw-bold">
                        Fecha de registro: 15/03/2023
                    </p>
                    <p class="classs fw-bold">
                        Estado del comentario: Deshabilitado
                    </p>
                    <div class="col-12">
                        <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                            <i class="bi bi-search"></i>
                            <img src="../../resources/Imagenes/btnEliminarIMG.png" alt="" width="30px" height="30px"
                                class="mb-1">
                        </button>
                        <button type="submit" class="btn btn-success mt-1" id="btnEliminar">
                            <i class="bi bi-search"></i>
                            <img src="../../resources/Imagenes/btnActualizarIMG.png" alt="" width="30px" height="30px"
                                class="mb-1">
                        </button>

                    </div>
                </div>

            </div>
            <br>
        </div>

    </div>

    <!--Aquí comienzan las modals-->

    <!--Primera Modal para mostrar la eliminación de un registro-->
    <div class="modal" id="miModalDe" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Contenido de la ventana modal -->
                <div class="modal-body text-center"> <!-- Agregamos la clase text-center para centrar el contenido -->
                    <form id="saveForm">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/pregunta.png" alt="">
                            <br>
                            <h4 class="text-align-center">¿Desea realmente eliminar este dato?</h4>
                            <br>
                            <h6 class="text-align-center">Se eliminará el dato para siempre.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="button" class="btn btn-dark" id="btnElimin">Eliminar</button>
                            <button type="submit" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Segunda Modal para mostrar la eliminación de un registro-->
    <div class="modal" id="miModalDe2" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Contenido de la ventana modal -->
                <div class="modal-body text-center"> <!-- Agregamos la clase text-center para centrar el contenido -->
                    <form id="saveForm">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/exito.png" alt="">
                            <br>
                            <h4 class="text-align-center">¡Registro eliminado con éxito!</h4>
                            <br>
                            <h6 class="text-align-center">Se ha eliminado un registro.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="button" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Primera Modal para mostrar la actualización de un registro-->
    <div class="modal" id="miModalAC" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Contenido de la ventana modal -->
                <div class="modal-body text-center"> <!-- Agregamos la clase text-center para centrar el contenido -->
                    <form id="saveForm">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Agregamos clases para centrar vertical y horizontalmente -->
                            <img src="../../resources/Imagenes/exito.png" alt="">
                            <br>
                            <h4 class="text-align-center">¡Registro actualizado con éxito!</h4>
                            <br>
                            <h6 class="text-align-center">Se ha actualizado un registro.</h6>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <!-- Agregamos clases para centrar horizontalmente -->
                            <button type="button" class="btn btn-dark btn-block" data-bs-dismiss="modal"
                                id="btnCerrar">Cerrar</button> <!-- Agregamos clase btn-block para ajustar el ancho -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer>

    </footer>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../../controllers/utils/footer.js"></script>
    <script src="../../controllers/utils/Apartados.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../controllers/admin/valoraciones.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>


</html>