.etqiueta {
    background-color: #000;
    color: #fff;
}

#btnVerDetalle{
    background-color: #8a1515;
    color: #fff;
}
.descuento {
    background-color: #A00000;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}
