#imagenCarrito{
    transform: translateX(130%);
}


#ultimaFila{
    text-align: center;
}

#textorr{
    color: #fff;
    
}
.te{
    color: #fff;
    
}

#botonCarrito{
    background-color: #6D0E0E;
    color: #fff;
    width: 200px;
}

#decrementBtn,
#incrementBtn,
#decrementBtn1,
#incrementBtn1,
#botonPedido{
    background-color: #6D0E0E;
    color: #fff;
}


.form-control:read-only{
    background: #000;
    color: #fff;
}

