.col1{
    background-color: rgb(145, 0, 0);
    color: rgb(145, 0, 0);
}

.col{
    text-align: center;
    margin-top: 1%;
}

#agg{
    background-color:#6D0E0E;
}

#mi-imagen { width: 100px; height: 100px; } 

.row{
    text-align: center;
}
.form-control,
#basic-addon1{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}


