#imagenCarrito{
    transform: translateX(130%);
}


#ultimaFila{
    text-align: center;
}

#textorr{
    color: #fff;
    
}
.te{
    color: #fff;
    
}

#botonCarrito{
    background-color: #6D0E0E;
    color: #fff;
    width: 200px;
}

