
body{
    background-color: #F5F5F5;
}

/*Modificamos la card para que la viñeta se pueda agregar*/
#card1,
#card2{
    margin-top: 10%;
    position: relative;
}

/*Viñeta para los descuentos*/

#card2::before {
    content: "20% de descuento";
    position: absolute;
    top: 15px;
    left: -30px;
    background-color: #A00000; 
    color: white;
    padding: 5px 5px;
    transform: rotate(-45deg);
    border-radius: 0 0 0 5px; 
}

#precio{
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    width: 275px;
    height: 30px;
}


.btnAgregarAlCarrito{
    width: 100px;
    background-color: #6D0E0E;
    color: #fff;
}

footer{
    margin-top: 5%;
}
#Search{
    box-shadow: none;
    
}


.nav-link{
    color: #000;
    text-decoration: none;
}

.nav-link:hover{
    color: #000;
}

#catalogo{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#sobreNos{
    border-bottom: 2px solid #000;
}

#botonCarrito{
    background-color: #6D0E0E;
    color: #fff;
    width: 160px;
    padding-left: 22%;
}

#imagenCarrito{
    transform: translate(150%, -5%);
}

#textoCar{
    border-left: 3px solid #000;
    padding-left: 10%;
}

#menu,
#nos,
#carrito,
#Contac,
#ses{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-right: 1rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translate(-1380%, -48%);
    width: 20px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.navbar-toggler-icon .navbar-toggler-icon-bar {
    background-color: black; /* Cambia el color del icono del menú hamburguesa */
}


@media screen and (max-width: 1109px) {
    .search-icon {
        position: absolute;
        top: 50%;
        transform: translate(-930%, -48%);
        width: 20px;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }
}

@media screen and (max-width: 992px) {
    .search-icon {
        position: absolute;
        top: 50%;
        transform: translate(-630%, -48%);
        width: 20px;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }
}

@media screen and (max-width: 768px) {
    .search-icon {
        position: absolute;
        top: 50%;
        transform: translate(-400%, -48%);
        width: 20px;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }
}

#Search{
    border-radius: 10px;
    padding-left: 40px;
}

.timeline {
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    top: -1%;
    left: 50%;
    width: 5px;
    height: 100%;
    background: #000;
    transform: translateX(-50%);
    z-index: -1; /*Z-indez hace que la linea sea transparente*/
}

.timeline-item {
    margin-bottom: 20px;
}

.timeline-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #000;
    color: #fff;
    height: 200px;
}

.timeline-content h2 {
    margin-top: 0;
}

