.col{
    text-align: center;
}


element.style {
    background: brown;
}

#txtCategoria{
    background: brown;
    color: azure;
}

.card{
    image-rendering: 300px;
}

thead{
    background-color: #6D0202;
    color: white;
}

#Search{
    box-shadow: none;
    
}

#btnEliminar,
#btnActualizar,
#btnAgregar{
    background-color: transparent;
    border: none;
}

.table-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

