.col{
    text-align: center;
}


element.style {
    background: brown;
}

#txtCategoria11{
    background: brown;
    color: azure;
}

h3{
    margin-top: 1.3rem;
}

.card{
    image-rendering: 300px;
}

#nombreCategoria,
#descripcionCategoria,
#inputImgCat,
#nombreCategoriaA,
#descripcionCategoriaA,
#inputImgCatA{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

@media (min-width: 556px) and (max-width: 769px) {
    
    html{
        width: 153%;
    }

    #Search{
        width: 470px;
        margin-left: 6px;
    }
    .modal{
        width: 135%;
    }
}

@media (min-width: 425px) and (max-width: 556px) {
    
    html{
        width: 250%;
    }

    #Search{
        width: 530px;
        margin-left: 5px;
    }
    .modal{
        width: 160%;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    
    html{
        width: 230%;
    }

    #Search{
        width: 530px;
        margin-left: 5px;
    }
    .modal{
        width: 157%;
    }
}

@media (min-width: 200px) and (max-width: 375px) {
    
    html{
        width: 195%;
    }

    #Search{
        width: 530px;
        margin-left: 5px;
    }

    .modal{
        width: 149%;
    }

}