.col1 {
    background-color: rgb(145, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 4rem;
}


.titulos {
    text-align: center;
}



#columnas {
    text-align: center;
}

#btnProductos,
#btnCatego,
#btnMarcas,
#btnClientes,
#btnAdmins {
    margin-top: 2%;
    margin-bottom: 2%;
}

#columnaaa {
    margin-bottom: 10rem;
}