#txtMarcas{
    background-color: rgb(156, 1, 1);
    color: azure;
}

h3{
    margin-top: 1.3rem;
}

#botonActu{
    background-color: transparent;
    border: none;
}

.modal-content{
    max-width: 70%;

}

#nombreMarca,
#inputImgMarca{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}


.btnEliminar,
.btnActualizar,
.btnAgregar,
.btnMostrar,
.btnEliminar:hover,
.btnActualizar:hover,
.btnAgregar:hover,
.btnMostrar:hover,
.btnEliminar:focus,
.btnActualizar:focus,
.btnAgregar:focus,
.btnMostrar:focus,
#mostrarPedidos,
#mostrarValoracion,
#mostrarPedidosFiltados
{
    background-color: transparent;
    border: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}


@media (min-width: 556px) and (max-width: 769px) {
    
    html{
        width: 153%;
    }

    #Search{
        width: 470px;
        margin-left: 6px;
    }
}

@media (min-width: 425px) and (max-width: 556px) {
    
    html{
        width: 250%;
    }

    #Search {
        width: 350px;
    }
    .search-icon {
        position: absolute;
        top: 50%;
        left: 4px; 
        transform: translateY(-50%);
        width: 12px;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    
    html{
        width: 230%;
    }

    #Search{
        width: 530px;
        margin-left: 5px;
    }
}

@media (min-width: 200px) and (max-width: 375px) {
    
    html{
        width: 195%;
    }

    #Search{
        width: 530px;
        margin-left: 5px;
    }

}