.col1 {
    background-color: rgb(145, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 4rem;
}


.titulos {
    text-align: center;
}



#columnas {
    text-align: center;
}

#btnProductos,
#btnCatego,
#btnMarcas,
#btnClientes,
#btnAdmins,
#btnCerrarCe {
    margin-top: 10px;
    margin-bottom: 1%;
}

#columnaaa {
    margin-bottom: 10rem;
}

@media (max-width: 1185px) {
    #btnProductos,
    #btnCatego,
    #btnMarcas,
    #btnClientes,
    #btnAdmins {
        margin-top: 3%;
        margin-bottom: 1%;
        
    }
    #btnCerrarCe{
        width: 150px;
        margin-left: 1%;
    }
}

@media (max-width: 992px) {
    #btnProductos,
    #btnCatego,
    #btnMarcas,
    #btnClientes,
    #btnAdmins {
        margin-top: 3%;
        margin-bottom: 1%;
        
    }
    #btnCerrarCe{
        width: 80px;
        margin-left: 0.2%;
    }
}