#txtCategoria1{
    background-color: rgb(156, 1, 1);
    color: azure;
}

h3{
    margin-top: 1.3rem;
}

#noResults{
    display: none;
    font-weight: bold;
}

#nombreProducto,
.form-select,
#inputImgProducto,
#descripcionProducto,
#PrecioProducto,
#logoDolar,
#cantidadProducto,
#descuentoProducto,
#nombreProductoA,
#inputImgProductoA,
#descripcionProductoA,
#PrecioProductoA,
#cantidadProductoA,
#descuentoProductoA{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}
@media (max-width: 450px) {
    #Search {
        width: 350px;
    }
    .search-icon {
        position: absolute;
        top: 50%;
        left: 4px; 
        transform: translateY(-50%);
        width: 12px;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }
}