#txtMarcas{
    background-color: rgb(156, 1, 1);
    color: azure;
}

h3{
    margin-top: 1.3rem;
}

#botonActu{
    background-color: transparent;
    border: none;
}

.modal-content{
    max-width: 70%;

}