.classs{
    text-align: left;
}

.textoT{
    background-color: brown;
    color: #ffffff;
    height: 40px;
}

#txtValora{
    background-color: brown;
    color: #ffffff;
    height: 50px;
}

#noResults{
    display: none;
    font-weight: bold;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.fa-star {
    font-size: 1.2em;
}


@media (min-width: 556px) and (max-width: 769px) {
    
    html{
        width: 153%;
    }

    #Search{
        width: 470px;
        margin-left: 6px;
    }

    .modal{
        width: 133%;
    }
}

@media (min-width: 425px) and (max-width: 556px) {
    
    html{
        width: 250%;
    }

    #Search{
        width: 530px;
        margin-left: 5px;
    }

    .modal{
        width: 157%;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    
    html{
        width: 230%;
    }

    #Search{
        width: 530px;
        margin-left: 5px;
    }

    .modal{
        width: 153%;
    }
}

@media (min-width: 200px) and (max-width: 375px) {
    
    html{
        width: 219%;
    }

    #Search{
        width: 530px;
        margin-left: 5px;
    }

    .modal{
        width: 153%;
    }

}

