.classs{
    text-align: left;
}

.textoT{
    background-color: brown;
    color: #ffffff;
    height: 40px;
}

#txtValora{
    background-color: brown;
    color: #ffffff;
    height: 50px;
}

#noResults{
    display: none;
    font-weight: bold;
}

.search-icon{
    transform: translateY(-10px);
}

