.col1{
    background-color: rgb(145, 0, 0);
    color: rgb(145, 0, 0);
    height: 50px;
}

#conte{
    border: 3px solid #000;
}

#VP,
#actuInfo,
#cerrarS{
    border: none;
    border-radius: 10px;
}

#imagenS{
    transform: translateY(-15%);
}

.row{
    text-align: center;
}

.modal-header{
    background-color: rgb(145, 0, 0);
    color: #fff;
}

.btn-close{
    background-color: #fff;
}

@media (min-width: 200px) and (max-width: 375px) {
    
    html{
        width: 115%;
    }

    
}
