.col{
    text-align: center;
}


element.style {
    background: brown;
}

#txtCategoria{
    background: brown;
    color: azure;
}

.card{
    image-rendering: 300px;
}

thead{
    background-color: #6D0202;
    color: white;
}

#Search{
    box-shadow: none;
    
}