#txtCategoria1{
    background-color: rgb(156, 1, 1);
    color: azure;
}

h3{
    margin-top: 1.3rem;
}

#nombreCategoria,
.form-select,
#descripcionCategoria{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}