.classs{
    text-align: left;
}

.textoT{
    background-color: brown;
    color: #ffffff;
    height: 40px;
}

#txtValora{
    background-color: brown;
    color: #ffffff;
    height: 50px;
}

#noResults{
    display: none;
    font-weight: bold;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

