#nombreAdministrador,
#apellidoAdministrador,
#correoAdministrador,
#aliasAdministrador,
#claveAdministrador,
#confirmarClave,
#selectNivelAdmin,
#nombreAdminA,
#apellidoAdminA,
#correoAdminA,
#aliasAdminA,
#claveAdminA,
#confirmarClaveAdminA,
#selectNivelAdminA{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}

#noResults{
    display: none;
    font-weight: bold;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-150%);
    width: 20px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

@media (min-width: 556px) and (max-width: 769px) {
    
    html{
        width: 183%;
    }
}

@media (min-width: 425px) and (max-width: 556px) {
    
    html{
        width: 330%;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    
    html{
        width: 370%;
    }
}

@media (min-width: 200px) and (max-width: 375px) {
    
    html{
        width: 460%;
    }
}