* {
    background-color: #FCFCFC;
}

small{
    display: none;
}

.was-validated small{
    display: block;
    color: red;

}

/*estilo para el botón de login*/
.btnIngresar {

    background-color: #6D0E0E;
    border-radius: 10px;
}



/* Este codigo agrega una sombra roja al hacer hover o focus sobre los inputs */

input.form-control:hover,
input.form-control:focus {
    box-shadow: 0 0 5px #871313;
    outline: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}


.modal .form-control,
.modal select{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}

.modal{
    background-color: transparent;
    transform: translateX(-13%);
}

.modal-content{
    width: 170%;
}



/*estilos para los inputs de alias y contraseña*/
#textoAlias {
    border-radius: 5px;
}

#textoContra {
    border-radius: 5px;
}

/*estilo para el botón de continuar con Google*/
#btnGoogle {
    background-color: #fcfbfb;
    color: #000000;
    border-radius: 10px;
    width: 300px;
}

/*estilo para la barra de arriba*/
.red-bar {
    background-color: #6D0E0E;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

/*estilo para la linea que separa la imagen del texto de bienvenida*/
#linea1 {
    height: 0rem;
    margin-top: -15pt;
}

/*estilo para los textos con link*/
a {
    color: rgb(134, 70, 70);
    font-weight: bold;
    font-size: 110%;
}

a:hover {
    color: rgb(153, 42, 42);
    /* Cambia el color a rojo al pasar el ratón sobre el enlace */
}

a:active {
    color: rgb(153, 42, 42);
    /* Cambia el color a rojo cuando se hace clic en el enlace */
}

/*estilo para el texto BIENVENIDA*/
#textoB {
    margin-left: 5.5rem;
    align-items: center;
    margin-top: -10pt;
}

/*estilo para la imagen de Google*/
#imgGoogle {
    height: 2rem;
    margin-right: 10px;
}

/*Aquí irán los estilos para la recuperación de contraseña*/

/*Estilo para el logo*/
#imgLogo{
    height: 15rem;
    margin-left: 110px;
   
}

.OO{
    height: 0.9rem;
}

/*Modificamos los inputs para que solamente tenga visible la linea de abajo*/

/*Modificamos los labels para que aparezcan a la izquierda y alineados con los inputs*/
.form-label {
    margin-right: 80px;
    font-size: 13px;
    font-weight: bold;
}

.form-label1 {
    margin-right: 80px;
    font-size: 13px;
    font-weight: bold;
}

.nivel{
    margin-right: 80px;
    font-size: 13px;
    font-weight: bold;
}

.form-label2 {
    margin-right: 130px;
    font-size: 13px;
    font-weight: bold;
}


