.col{
    text-align: center;
}


element.style {
    background: brown;
}

#txtCategoria11{
    background: brown;
    color: azure;
}

h3{
    margin-top: 1.3rem;
}

.card{
    image-rendering: 300px;
}

#nombreCategoria,
#descripcionCategoria,
#inputImgCat,
#nombreCategoriaA,
#descripcionCategoriaA,
#inputImgCatA{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    padding: 1%;
    background-color: transparent;
    box-shadow: none;
}